@model Ai_Virtual_Campus_Management_System.Models.Department

<div class="container mt-5">

    <h1>Edit Department</h1>

    <form asp-action="Edit" method="post">

        <input type="hidden" asp-for="Id" />

        <div class="mb-3">

            <label class="form-label">
                Department Name
            </label>

            <input asp-for="DepartmentName"
                   class="form-control" />

        </div>

        <div class="mb-3">

            <label class="form-label">
                Description
            </label>

            <input asp-for="Description"
                   class="form-control" />

        </div>

        <button type="submit"
                class="btn btn-primary">
            Update
        </button>

    </form>

</div>