@model Ai_Virtual_Campus_Management_System.Models.Feedback

<div class="container mt-4">

    <h2>Add Feedback</h2>

    <form asp-action="Create" method="post">

        <div class="mb-3">
            <label>Student Name</label>
            <input asp-for="StudentName"
                   class="form-control" />
        </div>

        <div class="mb-3">
            <label>Message</label>
            <textarea asp-for="Message"
                      class="form-control"></textarea>
        </div>

        <button class="btn btn-primary">
            Submit Feedback
        </button>

    </form>

</div>